<main>

        <!-- Hero Start-->
        <div class="hero-area3 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <div class="hero-cap text-center pt-50 pb-20">
                            <h2>Our Listing</h2>
                        </div>
                        <!--Hero form -->
                        
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
        <!-- listing Area Start -->
        <div class="listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                   
                    <!-- Right content -->
                    <div class="col-xl-12 col-lg-12 col-md-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="count mb-35">
                                    <span>Listings are available</span>
                                </div>
                            </div>
                        </div>
                        <!-- listing Details Stat-->
                        <div class="listing-details-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 "  *ngFor="let listObj of reportData">
                                        <div class="single-listing mb-30">
                                            <div class="list-img">
                                                <img src="https://image.tmdb.org/t/p/w440_and_h660_face/{{listObj.poster_path}}" alt="">
                                                <!-- <span>Open</span> -->
                                            </div>
                                            <div class="list-caption">
                                                <span>Open</span>
                                                <h3><a href="listing_details.html">{{listObj.title}}</a></h3>                                               
                                                <div class="list-footer">
                                                    <ul>
                                                        <li>Vote Average {{listObj.vote_average}}</li>
                                                        <li>Release Date {{listObj.release_date}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- listing Details End -->
                        <!--Pagination Start  -->
                        <div class="pagination-area pt-70 text-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="single-wrap d-flex justify-content-center">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-start">
                                                    <li class="page-item active"><a class="page-link" (click)="getMoviiesList(1);">01</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(2);">02</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(3);">03</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(4);">04</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(5);">05</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(6);">06</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(7);">07</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(8);">08</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(9);">09</a></li>
                                                    <li class="page-item"><a class="page-link" (click)="getMoviiesList(10);">10</a></li>
                                                <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Pagination End  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- listing-area Area End -->

    </main>