<nav *ngIf="router.url !== '/login' && router.url !== '/signup'"> 

<app-header></app-header>
</nav>
<!-- routes will be rendered here -->
<router-outlet></router-outlet>
<nav *ngIf="router.url !== '/login' && router.url !== '/signup'"> 
<!-- footer -->
<app-footer></app-footer>
</nav>