<main class="login-wrap">
    <div class="login-wrap__box card">
      <h1 class="login-wrap__title">TestApp</h1>
      <form action="" id="login_form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </span>
            <input type="text" name="email" class="form-control" placeholder="Email"  formControlName="email"  id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">User name required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
            </span>
            <input type="password" formControlName="password"  id="username" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="login-wrap__btn-group">
            <input type="button" id="adminlogin" name="adminlogin" value="Login" class="btn btn-danger btn-block" (click) = "doLogin()"/>
            <input type="reset" class="btn btn-danger btn-block" value="Reset"/>
          </div>
        </div>
      </form>
    </div>
  </main>
  